body {
  background: #fff;
  font-family: monospace;
  -webkit-text-size-adjust: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-muted {
  opacity: 0.5;
}
.article-date {
  text-decoration: inherit;
  cursor: auto;
  color: #000;
}
.article-entry {
  line-height: 1.5em;
}
.title {
  text-decoration: inherit;
  color: #000;
}
@media screen and (max-width: 479px) {
  img {
    width: 100%;
  }
}
